.mbody-container{
    height: 50vh;
  background-color: rgb(233, 229, 229);
  margin-top: 5em;
}

.row {
    margin: 0 auto;
    /* height: 25rem; */
    display: flex;
}


.row::after {
    content: "";
    display: table;
    clear: both;
}


.row .col-1-3 {
    width: 33%;
    float: left;
}

.mbody-content{
    justify-content: center;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
}

.mbody-item{
justify-content: center;
position: relative;
top: 100%;
}