.nav-container{
    background-color: rgb(209, 72, 30);
    height: 6.1rem;
 
}

.nav-list-container{
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    gap: 20px;
    position: relative;
    top: 35px;
}

.nav-list-item{
font-size: 1.2rem;
font-weight: 400;
padding-right: 1em;
}

.j{
    padding-right: 7em;
}

.r{
    padding-left: 7em;
}